/**
 TODO(you): Write the CSS necessary to complete HW1!
*/
.first-div-size{
    background-image: url('header.jpg');
    text-align: center;
    font-size: 36px;
    padding-top: 250px;
    margin:0px;
    color:white;
    font-family: Roboto Slab;

}
